/* BACKGROUND IMAGE AND GREEN OVERLAY */
body{
    background: linear-gradient(rgba(33, 34, 32, 0.5), rgba(75, 100, 45, 0.5)), url("focus clock background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    height: 100vh;
}

/* GIF PROPERTIES */
.gif{
  display: block;
  width: 80px; 
  height: auto; /* keep aspect ratio */
  margin: 20px auto 0;  /* space above/below */
}

/* HEADER 1 PROPERTIES */
#index-header1, #settings-header1{
    font-size: 36px;
    font-family: monospace;
    color:rgb(255, 255, 255);
    font-weight: 700;
    text-align: center;
    text-transform:uppercase;
    letter-spacing: 10px;
    background-color:rgb(48, 48, 48);
    margin: 0 auto 0 auto;  
    width: 500px;
} 

/* HEADER 2 PROPERTIES */
#index-header2, #settings-header2{
    font-size: 25px;
    font-family: monospace;
    color:rgb(255, 255, 255);
    font-weight: 200;
    text-align: center;
    margin: 30px auto 0 auto;
} 

/* POSITION OF FOCUS/BREAK BUTTONS */
.pomodoro-options{
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 20px; 
}

/* FOCUS/BREAK BUTTON PROPERTIES */
#btnFocus, #btnBreak{
    background-color: #9ca89d;  
    color: #ffffff;
    font-size:30px;
    font-family: monospace;
    padding: 10px 25px;
    cursor: pointer; 
    border: none;
    border-radius: 30px; 
}

/* START BUTTON PROPERTIES */
#btnStart{
    background-color: #595959ac;  
    color: #ffffff;
    font-size:30px;
    font-family: monospace;
    padding: 10px 25px;
    cursor: pointer; 
    border: none;
    border-radius: 10px; 
}

/* POSITION OF START BUTTON */
#btnStartPos{
    display: flex;
    justify-content: center;
}

/* POSITION AND COLOUR OF COUNTDOWN TIMER */
#countdown{
    font-size: 80px;
    font-family: monospace;
    color:rgb(255, 255, 255);
    text-align: center;
}

/* SETTINGS BUTTON PROPERTIES */
.btnSettings{
    font-family: monospace;
    background: #869d87;
    color: #fff;
    text-decoration: none;
    padding: 10px 16px;
    border-radius: 24px;
    cursor: pointer;
}

/* SETTINGS PROPERTIES */
#settingsDlg{
    font-family: monospace;
    background: rgba(24,28,22,0.95);
    color: #fff;
    border: none;
}

/* SETTINGS OVERLAY PROPERTIES */
#settings-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4); 
    display: none; /* hides overlay when the page is launched */
}

/* CUSTOM DURATION LABEL PROPERTIES */
#labels{
    display: flex;
    justify-content: center;
    margin: 20px auto 0; 
    gap: 40px; 
}

/* CUSTOM DURATION INPUT PROPERTIES */
#inputs{
    display: flex;
    justify-content: center;
    margin: 10px auto 0; 
    gap: 40px; 
}

/* VOLUME SETTING PROPERTIES */
#volume-setting{ 
    text-align: center;
    margin: 20px auto 0; 
    gap: 40px; 
}

/* CLOSE BUTTON PROPERTIES */
#closeDlg{
    display: block;
    margin: 10px auto;
    cursor: pointer;
}



